#Editor Specific
/.idea
_ide_helper.php

# Packages / Framework
/node_modules
/vendor
.env

# Custom
/public/cs-adm-uploads/*
/public/imports
/public/assets/js/*
/public/assets/css/*
/public/assets/mix-manifest.json
/public/public
/storage/app/tests/*
/tests/storage/*

.git-old

# PHPUnit
.phpunit.result.cache

#PHP CS / CS Fixer
\.php_cs
phpcs.xml
\.php_cs\.cache

#PHP MD
phpmd.xml

# Except...
!.gitkeep

public/mix-manifest.json

.DS_Store
*/.DS_Store
