#Editor Specific
/.idea
_ide_helper.php

# Packages / Framework
/node_modules
/vendor
.env

# Custom
/public/cs-adm-uploads/*
/public/imports
#/public/assets/js/*
#/public/assets/css/*
#/public/assets/mix-manifest.json
/storage/app/tests/*
/tests/storage/*

# PHPUnit
.phpunit.result.cache

#PHP CS / CS Fixer
.php-cs-fixer.cache

# Except...
!.gitkeep

.DS_Store
*/.DS_Store
