includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - App
        - config

    # The level 8 is the highest level
    level: 3

    excludePaths:
        - ./*/*/*Blueprint.php
        - ./*/*/*Dashboard.php
        - ./*/*/*Feed.php
