.slide-down {
  transform: translateY(-100%);
  animation: slide-down .3s ease;
  animation-fill-mode: forwards;
}

.spin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: .4s;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(0);
  }
}
