@import '_settings.scss';
@import 'animations.scss';
@import 'logo.scss';
@import 'mainBody.scss';
@import 'pageBox.scss';
@import 'scrollable.scss';
@import 'tooltips.scss';

@tailwind base;
@tailwind components;

@layer utilities {
    [v-cloak] {
        visibility: hidden;
    }

    html, body, .w-screen, .inner-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .inner-wrapper {
        max-width: 1500px;
    }
}

@layer components {
    @media only screen and (min-width: 400px) {
        .hero-background {
            background-image: url('/assets/images/misc/stickers.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .webp .hero-background {
            background-image: url('/assets/images/misc/stickers.webp');
        }
    }

    img.lazy:not(.loaded)::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: calc(630 / 1200 * 100%);
    }

    .toasted {
        font-size: 1rem !important;
        width: 100% !important;
        max-width: 500px !important;
        font-weight: 600 !important;
        padding: 0.75rem !important;
        border-radius: 0.25rem !important;
    }
}

@tailwind utilities;
