@responsive {
    .bg-blue-gradient {
        background: linear-gradient(to bottom right, #80CCFC 0%, #addaf9 100%);
    }

    .bg-blue-gradient-90 {
        background: linear-gradient(to bottom right, rgb(128, 204, 252, .9) 0%, rgb(173, 218, 249, .9) 100%);
    }

    .bg-blue-gradient-50 {
        background: linear-gradient(to bottom right, rgb(128, 204, 252, .5) 0%, rgb(173, 218, 249, .5) 100%);
    }

    .bg-blue-gradient-30 {
        background: linear-gradient(to bottom right, rgb(128, 204, 252, .3) 0%, rgb(173, 218, 249, .3) 100%);
    }

    .bg-blue-gradient-20 {
        background: linear-gradient(to bottom right, rgb(128, 204, 252, .2) 0%, rgb(173, 218, 249, .2) 100%);
    }

    .bg-blue-gradient-10 {
        background: linear-gradient(to bottom right, rgb(128, 204, 252, .1) 0%, rgb(173, 218, 249, .1) 100%);
    }
}

.transition-bg {
    transition: background 0.5s ease;
}

.transition-color {
    transition: color 0.5s ease;
}

.transition-height {
    transition: height 0.5s ease;
}

.transition-width {
    transition: width 0.5s ease;
}
