#map-container {
    width: 100% !important;
}

.fm-map-container {
    z-index: 0;
    border: none;
    overflow: visible;
    width: 100% !important;
}

.fm-tooltip {
    display: none;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    width: auto;
    background: transparentize(#fff, 0.05);
    border: 2px solid transparentize(#000, 0.5);
    padding: 10px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 10px transparentize(#000, 0.5);
    text-align: left;
}

.fm-tooltip-frame {
    border: none;
    max-width: 100%;
    border-collapse: separate;
    margin-bottom: 0 !important;
    line-height: 1.2;
    vertical-align: top;

    table tr td th {
        border: none;
    }

    td {
        background-color: inherit;
        border: none;
        padding: 5px;
        vertical-align: top;
        margin: 0;
    }
}

.fm-tooltip-comment {
    font-size: 1.1rem;
    font-family: 'Raleway';
    padding: 5px;
    border: none;
    color: #787878;
}

.fm-tooltip-name {
    color: #000;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left !important;
    /*padding: 5px;*/
    font-family: 'Notethis';
    border: none;
}

.fm-scale {
    float: left;
    position: absolute;
    left: 0;
    z-index: 1;
    border: none;
    overflow: visible;
    margin-top: -50px;

    div {
        float: left;
        border: none;
        overflow: visible;
    }
}

.fm-scale-display {
    clear: both;
    position: relative;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1px;
    bottom: 0;
    margin-bottom: 5px;
    background-color: #e8e8e8;
    display: none;
    border: none;

    div {
        background-color: #29719f;
        height: 1px;
        transition: width ease-in-out .2s;
        border: none;
    }
}

.fm-scale-buttons {
    clear: both;
    margin-bottom: -20px;
}

#container {
    margin-bottom: 60px;
    overflow: visible;
}

.fm-scale a {
    display: block;
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #333;
    width: 41px;
    padding-top: 1px;
    border: 1px solid #e8e8e8;
    border-bottom-color: #bbb;
    text-decoration: none;
    margin-right: 3px;
    border-radius: 2px;
    background: #fff;

    &:hover {
        color: #186ba3;
    }

    &.fm-inactive {
        cursor: default;
        color: #e8e8e8;
    }
}

.fm-x-debug {
    position: absolute;
    z-index: 2;
    min-width: 200px;
    border-radius: 5px;
    background: white;
    border: none;
}

@media only screen and (min-width: 1000px) {
    .fm-tooltip {
        min-width: 500px;
    }
}
