.toasted {
    font-size: 1rem !important;
    width: 100% !important;
    max-width: 500px !important;
    font-weight: 600 !important;
    padding: 0.75rem !important;
    border-radius: 0.25rem !important;
}
