@layer components {
    .tooltip {
        @apply block z-50 shadow-xl;

        .tooltip-inner {
            @apply rounded px-8 py-1 font-semibold;
        }

        &.p-2 .tooltip-inner {
            @apply p-0;
        }

        &[x-placement^="top"] {
            @apply mb-2;
        }

        &[x-placement^="bottom"] {
            @apply mt-2;
        }

        &[x-placement^="bottom-start"] {
            @apply mt-2 left-0;
        }

        &[x-placement^="left"] {
            @apply mr-2;
        }

        &.popover {
            .popover-inner {
                @apply bg-blue p-6 rounded shadow;
            }

            .popover-arrow {
                border-width: 8px;
            }
        }

        &[aria-hidden='true'] {
            visibility: hidden;
            @apply  opacity-0;
            transition: opacity .15s, visibility .15s;
        }

        &[aria-hidden='false'] {
            visibility: visible;
            @apply opacity-100;
            transition: opacity .15s;
        }
    }
}
